@import url("themes.css");

:is(:root, html, body) {
 font-family: "Comfortaa";
 font-optical-sizing: auto;
 font-style: normal;
 font-weight: 400;
 position: relative;
 display: grid;
 place-items: center;
 place-content: center;
 min-block-size: 100%;
 inline-size: 100%;
 margin: 0;
 padding: 0;
 overflow: auto;
 outline: none;
 box-sizing: border-box;
 scroll-behavior: smooth;
 
 @media ( prefers-color-scheme: light) {
  color: var(--primaryTextColor);
  background-color: var(--textColor);
 }

 @media (prefers-color-scheme: dark) {
  color: var(--textColor);
  background-color: var(--primaryTextColor);
 }
}
